{% extends 'base.html' %}

{% load i18n %}
{% block title %} {% trans "Register" %} {% endblock %}

{% load crispy_forms_tags %}



{% block content %}

<style>
    form{
        color: black !important;
        font-weight: bold;
    }
    #id_password2_helptext, #id_username_helptext, form ul {
    color: black !important;
}
</style>

<div style="height:100vh; display: flex; justify-content: center; align-items: center;">

    <div style="padding: 40px; background-color: rgba(178, 190, 195,0.1); border-radius: 8px; box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); max-width: 600px; width: 100%; font-weight: bold; font-family: 'Ubuntu', 'sans-serif">

        <form method="post" style="text-align: left;">

            {% csrf_token %}

            {{ form|crispy }}

            <button type="submit" class="btn btn-success" style="font-weight: bold">{% trans "Register" %}</button>
            <a href="{% url 'core:product_list' %}" class="btn btn-danger" style="font-weight: bold">{% trans "Cancel" %}</a>
        </form>
        <footer style="text-align: center; font-size: 12px; margin-top: 15px">
            Background Designed by Freepik
        </footer>
    </div>

</div>


{% endblock %}